In [37]:
# Load ML Pkgs
from sklearn.model_selection import train_test_split
import pandas as pd 
from sklearn.model_selection import RepeatedKFold

# AutoML with TPOT
import tpot

In [63]:
df = pd.read_csv('Chicago_weather_cleaned_V1.csv')
df

,Unnamed: 0,dt_iso,temp,dew_point,feels_like,pressure,humidity,wind_speed,wind_deg,clouds_all,date,year,month,day_of_week,hour_of_day,visibility_clean
0,0,2013-01-01 00:00:00,-2.87,-7.38,-7.90,1018,68,4.12,300,100,2013-01-01,2013,1,1,0,10000.00
1,1,2013-01-01 01:00:00,-3.12,-7.45,-7.35,1019,69,3.10,310,100,2013-01-01,2013,1,1,1,10000.00
2,2,2013-01-01 02:00:00,-3.12,-7.45,-6.83,1019,69,2.60,290,100,2013-01-01,2013,1,1,2,10000.00
3,3,2013-01-01 03:00:00,-2.87,-7.72,-7.90,1019,66,4.12,360,100,2013-01-01,2013,1,1,3,10000.00
4,4,2013-01-01 04:00:00,-4.17,-9.32,-10.57,1020,64,5.70,330,100,2013-01-01,2013,1,1,4,10000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86179,91354,2022-10-31 19:00:00,13.89,12.11,13.66,1011,89,1.34,27,100,2022-10-31,2022,10,0,19,7543.75
86180,91355,2022-10-31 20:00:00,14.15,12.19,13.92,1010,88,2.57,350,100,2022-10-31,2022,10,0,20,9656.00
86181,91356,2022-10-31 21:00:00,14.11,11.81,13.82,1011,86,3.13,351,100,2022-10-31,2022,10,0,21,9656.00
86182,91357,2022-10-31 22:00:00,13.62,11.84,13.36,1012,89,1.34,343,100,2022-10-31,2022,10,0,22,9656.00
86183,91358,2022-10-31 23:00:00,13.38,11.78,13.12,1013,90,0.30,53,100,2022-10-31,2022,10,0,23,9656.00

In [31]:
df.columns

Index(['Unnamed: 0', 'dt_iso', 'temp', 'dew_point', 'feels_like', 'pressure',
       'humidity', 'wind_speed', 'wind_deg', 'clouds_all', 'date', 'year',
       'month', 'day_of_week', 'hour_of_day', 'visibility_clean'],
      dtype='object')

In [64]:
df=df.drop(columns=['dt_iso', 'Unnamed: 0', 'date', 'year', 'month', 'day_of_week', 'hour_of_day'])
df

,temp,dew_point,feels_like,pressure,humidity,wind_speed,wind_deg,clouds_all,visibility_clean
0,-2.87,-7.38,-7.90,1018,68,4.12,300,100,10000.00
1,-3.12,-7.45,-7.35,1019,69,3.10,310,100,10000.00
2,-3.12,-7.45,-6.83,1019,69,2.60,290,100,10000.00
3,-2.87,-7.72,-7.90,1019,66,4.12,360,100,10000.00
4,-4.17,-9.32,-10.57,1020,64,5.70,330,100,10000.00
...,...,...,...,...,...,...,...,...,...
86179,13.89,12.11,13.66,1011,89,1.34,27,100,7543.75
86180,14.15,12.19,13.92,1010,88,2.57,350,100,9656.00
86181,14.11,11.81,13.82,1011,86,3.13,351,100,9656.00
86182,13.62,11.84,13.36,1012,89,1.34,343,100,9656.00
86183,13.38,11.78,13.12,1013,90,0.30,53,100,9656.00

In [44]:
# Define X and y
X = df.drop(columns=['temp'])
y = df['temp']

In [45]:
# Split in train and test
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
# define evaluation procedure
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# Init
model = tpot.TPOTRegressor(generations=5, population_size=50, scoring='neg_mean_absolute_error',
        verbosity=2, n_jobs=1)

In [60]:
# Fit data
model.fit(x_train,y_train)

Optimization Progress:   0%|          | 0/300 [00:00<?, ?pipeline/s]

/home/anson/.pyenv/versions/3.10.6/envs/DIVVY_BIKE/lib/python3.10/site-packages/tpot/builtins/__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")
/home/anson/.pyenv/versions/3.10.6/envs/DIVVY_BIKE/lib/python3.10/site-packages/tpot/builtins/__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")
/home/anson/.pyenv/versions/3.10.6/envs/DIVVY_BIKE/lib/python3.10/site-packages/tpot/builtins/__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")
/home/anson/.pyenv/versions/3.10.6/envs/DIVVY_BIKE/lib/python3.10/site-packages/tpot/builtins/__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")

Generation 1 - Current best internal CV score: -0.030360462436772134

Generation 2 - Current best internal CV score: -0.030360462436772134

Generation 3 - Current best internal CV score: -0.030360462436772134

Generation 4 - Current best internal CV score: -0.030360462436772134

Generation 5 - Current best internal CV score: -0.017855459543540963

Best pipeline: ExtraTreesRegressor(CombineDFs(input_matrix, input_matrix), bootstrap=False, max_features=0.9000000000000001, min_samples_leaf=2, min_samples_split=3, n_estimators=100)

TPOTRegressor(generations=5, n_jobs=4, population_size=50,
              scoring='neg_mean_absolute_error', verbosity=2)

In [61]:
# Review the score
model.score(x_test,y_test)

/home/anson/.pyenv/versions/3.10.6/envs/DIVVY_BIKE/lib/python3.10/site-packages/sklearn/metrics/_scorer.py:765: FutureWarning: sklearn.metrics.SCORERS is deprecated and will be removed in v1.3. Please use sklearn.metrics.get_scorer_names to get a list of available scorers and sklearn.metrics.get_metric to get scorer.
  warnings.warn(

-0.015874048751415452

In [62]:
# Export the result
model.export('tpot_ml_pipeline.py')