In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from interface_ui.flow.ui_utils import get_coordinates, chicago_weather_forecast, get_stations
from interface_ui.flow.ui_flow import transform_user_inputs, get_station_availability
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

ModuleNotFoundError: No module named 'flow'

In [5]:
df = pd.DataFrame(
    np.random.randn(1000, 2) / [50, 50] + [41.87, 87.62],
    columns=['lat', 'lon'])

In [6]:
df.head()

         lat        lon
0  41.857804  87.674417
1  41.847298  87.617505
2  41.885936  87.612274
3  41.869494  87.631337
4  41.860153  87.617175

In [7]:
stations_raw=pd.read_csv('raw_data/data/Divvy Stations.csv',sep=';')
stations_raw.head()

,id,name,latitude,longitude,dpcapacity,online date,Year,Quarter
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43,6/16/13,2014,Q1Q2
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27,6/16/13,2014,Q1Q2
2,33,State St & Van Buren St,"41,877181","-87,627844",27,6/25/13,2014,Q1Q2
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15,8/10/13,2014,Q1Q2
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31,6/17/13,2014,Q1Q2

In [8]:
stations_raw.shape

(1377, 8)

In [9]:
stations=stations_raw.drop(columns=['online date','Year','Quarter'])
stations.drop_duplicates(inplace=True)
stations.head()

,id,name,latitude,longitude,dpcapacity
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27
2,33,State St & Van Buren St,"41,877181","-87,627844",27
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31

In [14]:
stations.shape

(869, 5)

In [15]:
stations.to_csv('raw_data/data/stations.csv',index=False)

In [17]:
stations_raw=pd.read_csv('raw_data/data/stations.csv')
stations_raw.head()

,id,name,latitude,longitude,dpcapacity
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27
2,33,State St & Van Buren St,"41,877181","-87,627844",27
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31

In [18]:
stations_raw
stations_raw.drop(columns=['id','name','dpcapacity'])

          latitude       longitude
0    41,8838927658  -87,6246491409
1    41,8847302006  -87,6277335692
2        41,877181      -87,627844
3        41,891738      -87,626937
4     41,884576228    -87,63188991
..             ...             ...
864    41.91751339    -87.70180896
865    41.90965688    -87.71663195
866     41.9097693    -87.70528049
867    41.90270659    -87.70921957
868    41.91402671    -87.70512646

[869 rows x 2 columns]

In [19]:
stations_raw.rename(columns={'latitude':'lat','longitude':'lon'},inplace=True)
stations_raw

,id,name,lat,lon,dpcapacity
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27
2,33,State St & Van Buren St,"41,877181","-87,627844",27
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31
...,...,...,...,...,...
864,507,Humboldt Blvd & Armitage Ave,41.91751339,-87.70180896,19
865,508,Central Park Ave & North Ave,41.90965688,-87.71663195,15
866,509,Troy St & North Ave,41.9097693,-87.70528049,15
867,510,Spaulding Ave & Division St,41.90270659,-87.70921957,15
868,511,Albany Ave & Bloomingdale Ave,41.91402671,-87.70512646,15

In [20]:
stations_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          869 non-null    int64
 1   name        869 non-null    object
 2   lat         869 non-null    object
 3   lon         869 non-null    object
 4   dpcapacity  869 non-null    int64
dtypes: int64(2), object(3)
memory usage: 34.1+ KB

In [21]:
stations_raw.lat=stations_raw.lat.apply(lambda x: float(x.split()[0].replace(',','.')))
stations_raw.lon=stations_raw.lon.apply(lambda x: float(x.split()[0].replace(',','.')))
stations_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          869 non-null    int64
 1   name        869 non-null    object
 2   lat         869 non-null    float64
 3   lon         869 non-null    float64
 4   dpcapacity  869 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.1+ KB

In [22]:
import requests

In [29]:
latitude=latlong[0]

In [30]:
type(latitude)

float

In [18]:
latlon3=get_coordinates('3424 S giles')

In [19]:
latlon3

[41.8321485, -87.61960959999999]

In [2]:
cwf=chicago_weather_forecast()

In [3]:
cwf

[{'dt': 1670425200,
  'main': {'temp': 3.78,
   'feels_like': 2.43,
   'temp_min': 3.78,
   'temp_max': 4.59,
   'pressure': 1023,
   'sea_level': 1023,
   'grnd_level': 1002,
   'humidity': 88,
   'temp_kf': -0.81},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': {'all': 75},
  'wind': {'speed': 1.59, 'deg': 349, 'gust': 1.94},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-12-07 15:00:00'},
 {'dt': 1670511600,
  'main': {'temp': 3.41,
   'feels_like': -0.42,
   'temp_min': 3.41,
   'temp_max': 3.41,
   'pressure': 1029,
   'sea_level': 1029,
   'grnd_level': 1007,
   'humidity': 76,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 4.56, 'deg': 81, 'gust': 6.18},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-12-08 15:00:00'},
 {'dt': 1670598000,
  'main': {'temp': 4.27,
   'feels_like': -0.49,
   'temp_min': 4.27,
   'temp_max': 4.27,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 997,
   'humidity': 81,
   'temp_kf': 0},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 7.17, 'deg': 109, 'gust': 13.41},
  'visibility': 10000,
  'pop': 0.3,
  'rain': {'3h': 0.34},
  'sys': {'pod': 'd'},
  'dt_txt': '2022-12-09 15:00:00'},
 {'dt': 1670684400,
  'main': {'temp': 4.24,
   'feels_like': 0.65,
   'temp_min': 4.24,
   'temp_max': 4.24,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 999,
   'humidity': 83,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 4.49, 'deg': 113, 'gust': 8.33},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2022-12-10 15:00:00'},
 {'dt': 1670770800,
  'main': {'temp': 3.19,
   'feels_like': -0.96,
   'temp_min': 3.19,
   'temp_max': 3.19,
   'pressure': 1018,
   'sea_level': 1018,
   'grnd_level': 996,
   'humidity': 91,
   'temp_kf': 0},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': {'all': 100},
  'wind': {'speed': 5.07, 'deg': 309, 'gust': 8.4},
  'visibility': 10000,
  'pop': 0.3,
  'rain': {'3h': 0.13},
  'sys': {'pod': 'd'},
  'dt_txt': '2022-12-11 15:00:00'}]

In [10]:
stations=get_stations(only_coordinates=False)

In [11]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          869 non-null    int64
 1   name        869 non-null    object
 2   lat         869 non-null    float64
 3   lon         869 non-null    float64
 4   dpcapacity  869 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.1+ KB

In [35]:
NN=NearestNeighbors(n_neighbors=3, metric='haversine')
NN.fit(stations[['lat', 'lon']])
result=NN.kneighbors(user_loc)
result

(array([[0.00115633, 0.00115633, 0.00290048]]), array([[583, 263, 172]]))

In [36]:
type(result)

tuple

In [41]:
a=list(result[1][0])
a

[583, 263, 172]

In [43]:
stations.iloc[a]

           lat        lon
583  41.831379 -87.618034
263  41.831379 -87.618034
172  41.834900 -87.617930

In [4]:
wfc=chicago_weather_forecast()
wfc

[{'dt': 1670500800,
  'main': {'temp': 2.03,
   'feels_like': -1.31,
   'temp_min': 2.03,
   'temp_max': 2.85,
   'pressure': 1029,
   'sea_level': 1029,
   'grnd_level': 1007,
   'humidity': 74,
   'temp_kf': -0.82},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 93},
  'wind': {'speed': 3.32, 'deg': 58, 'gust': 5.09},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-12-08 12:00:00'},
 {'dt': 1670587200,
  'main': {'temp': 3.69,
   'feels_like': -1.09,
   'temp_min': 3.69,
   'temp_max': 3.69,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 999,
   'humidity': 85,
   'temp_kf': 0},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 6.78, 'deg': 123, 'gust': 12.79},
  'visibility': 7404,
  'pop': 0.8,
  'rain': {'3h': 1.56},
  'sys': {'pod': 'n'},
  'dt_txt': '2022-12-09 12:00:00'},
 {'dt': 1670673600,
  'main': {'temp': 4.31,
   'feels_like': 1.11,
   'temp_min': 4.31,
   'temp_max': 4.31,
   'pressure': 1019,
   'sea_level': 1019,
   'grnd_level': 998,
   'humidity': 89,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 100},
  'wind': {'speed': 3.84, 'deg': 104, 'gust': 6.01},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-12-10 12:00:00'},
 {'dt': 1670760000,
  'main': {'temp': 4.63,
   'feels_like': 1.33,
   'temp_min': 4.63,
   'temp_max': 4.63,
   'pressure': 1020,
   'sea_level': 1020,
   'grnd_level': 998,
   'humidity': 88,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 97},
  'wind': {'speed': 4.13, 'deg': 339, 'gust': 6.78},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-12-11 12:00:00'},
 {'dt': 1670846400,
  'main': {'temp': 3.88,
   'feels_like': 0.89,
   'temp_min': 3.88,
   'temp_max': 3.88,
   'pressure': 1024,
   'sea_level': 1024,
   'grnd_level': 1002,
   'humidity': 69,
   'temp_kf': 0},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'clouds': {'all': 91},
  'wind': {'speed': 3.37, 'deg': 67, 'gust': 4.25},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'n'},
  'dt_txt': '2022-12-12 12:00:00'}]

In [5]:
wfc[0]

{'dt': 1670500800,
 'main': {'temp': 2.03,
  'feels_like': -1.31,
  'temp_min': 2.03,
  'temp_max': 2.85,
  'pressure': 1029,
  'sea_level': 1029,
  'grnd_level': 1007,
  'humidity': 74,
  'temp_kf': -0.82},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04n'}],
 'clouds': {'all': 93},
 'wind': {'speed': 3.32, 'deg': 58, 'gust': 5.09},
 'visibility': 10000,
 'pop': 0,
 'sys': {'pod': 'n'},
 'dt_txt': '2022-12-08 12:00:00'}

In [6]:
weather_dict=dict(dt=[],dt_iso=[],timezone=[],city_name=[],lat=[],lon=[],temp=[]
                  ,visibility=[],dew_point=[],feels_like=[],temp_min=[],temp_max=[],
                  pressure=[],sea_level=[],grnd_level=[],humidity=[],wind_speed=[],
                  wind_deg=[],wind_gust=[],rain_1h=[],rain_3h=[],snow_1h=[],snow_3h=[],
                  clouds_all=[],weather_id=[],weather_main=[],weather_description=[],
                  weather_icon=[])

In [7]:
weather_dict

{'dt': [],
 'dt_iso': [],
 'timezone': [],
 'city_name': [],
 'lat': [],
 'lon': [],
 'temp': [],
 'visibility': [],
 'dew_point': [],
 'feels_like': [],
 'temp_min': [],
 'temp_max': [],
 'pressure': [],
 'sea_level': [],
 'grnd_level': [],
 'humidity': [],
 'wind_speed': [],
 'wind_deg': [],
 'wind_gust': [],
 'rain_1h': [],
 'rain_3h': [],
 'snow_1h': [],
 'snow_3h': [],
 'clouds_all': [],
 'weather_id': [],
 'weather_main': [],
 'weather_description': [],
 'weather_icon': []}

In [ ]:
for day in wfc:
    weather_dict['dt'].append(day['dt'])
    weather_dict['dt'].append(day['dt'])

In [ ]:
weather_df=pd.DataFrame(weather_dict)