# DIVVY data initial exploration - 2016 to 2018

Importing packages

In [1]:
import os
import pandas as pd

In [2]:
pwd

'/home/gdolle/code/G-Dolle/DIVVY_BIKE'

## Year 2016

In [3]:
path_2016 = 'raw_data/2016'

In [4]:
from os import listdir
from os.path import isfile, join

In [5]:
subfolders = [ f.path for f in os.scandir(path_2016) if f.is_dir() ]
subfolders

['raw_data/2016/Divvy_Trips_2016_Q1Q2', 'raw_data/2016/Divvy_Trips_2016_Q3Q4']

In [6]:
map_of_files = {}

for subfolder in subfolders:

    liste = [os.path.splitext(f)[0] for f in os.listdir(subfolder) if os.path.splitext(f)[1] == ".csv"]

    map_of_files[subfolder] = liste

In [7]:
map_of_files

{'raw_data/2016/Divvy_Trips_2016_Q1Q2': ['Divvy_Trips_2016_05',
  'Divvy_Trips_2016_06',
  'Divvy_Stations_2016_Q1Q2',
  'Divvy_Trips_2016_04',
  'Divvy_Trips_2016_Q1',
  'Divvy_Trips_2016_Q2'],
 'raw_data/2016/Divvy_Trips_2016_Q3Q4': ['Divvy_Trips_2016_Q3',
  'Divvy_Stations_2016_Q4',
  'Divvy_Stations_2016_Q3',
  'Divvy_Trips_2016_Q4']}

In [8]:
path_test_root = list(map_of_files.keys())[0]
path_test_root

'raw_data/2016/Divvy_Trips_2016_Q1Q2'

In [9]:
path_test_file = map_of_files['raw_data/2016/Divvy_Trips_2016_Q1Q2'][0]
path_test_file

'Divvy_Trips_2016_05'

In [10]:
path_test_file_conc_1 = path_test_root+"/"+path_test_file+".csv"
path_test_file_conc_1

'raw_data/2016/Divvy_Trips_2016_Q1Q2/Divvy_Trips_2016_05.csv'

In [11]:
df_05_2016 = pd.read_csv(path_test_file_conc_1)
df_05_2016.head(5)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9835709,5/31/2016 23:57,6/1/2016 0:14,609,1045,22,May St & Taylor St,282,Halsted St & Maxwell St,Subscriber,Male,1993.0
1,9835708,5/31/2016 23:57,6/1/2016 0:14,1207,1035,22,May St & Taylor St,282,Halsted St & Maxwell St,Subscriber,Male,1993.0
2,9835707,5/31/2016 23:56,6/1/2016 0:15,4369,1166,90,Millennium Park,320,Loomis St & Lexington St,Subscriber,Male,1988.0
3,9835706,5/31/2016 23:55,6/1/2016 0:18,2703,1348,174,Canal St & Madison St,273,Michigan Ave & 18th St,Subscriber,Female,1992.0
4,9835705,5/31/2016 23:55,6/1/2016 0:14,3828,1101,90,Millennium Park,22,May St & Taylor St,Subscriber,Male,1987.0

In [12]:
path_test_file = map_of_files['raw_data/2016/Divvy_Trips_2016_Q1Q2'][1]
path_test_file

'Divvy_Trips_2016_06'

In [13]:
path_test_file_conc_2 = path_test_root+"/"+path_test_file+".csv"

In [14]:
df_06_2016 = pd.read_csv(path_test_file_conc_2)
df_06_2016.head(5)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,10426657,6/30/2016 23:59,7/1/2016 0:02,1508,190,93,Sheffield Ave & Willow St,113,Bissell St & Armitage Ave,Subscriber,Male,1993.0
1,10426656,6/30/2016 23:58,7/1/2016 0:14,1858,967,90,Millennium Park,90,Millennium Park,Customer,NaN,NaN
2,10426655,6/30/2016 23:58,7/1/2016 0:16,3076,1082,36,Franklin St & Jackson Blvd,69,Damen Ave & Pierce Ave,Subscriber,Male,1992.0
3,10426654,6/30/2016 23:58,7/1/2016 0:22,4031,1445,258,Logan Blvd & Elston Ave,251,Clarendon Ave & Leland Ave,Customer,NaN,NaN
4,10426653,6/30/2016 23:58,7/1/2016 0:14,4199,974,90,Millennium Park,90,Millennium Park,Customer,NaN,NaN

In [15]:
path_test_file = map_of_files['raw_data/2016/Divvy_Trips_2016_Q1Q2'][3]
path_test_file

'Divvy_Trips_2016_04'

In [16]:
path_test_file_conc_3 = path_test_root+"/"+path_test_file+".csv"
path_test_file_conc_3

'raw_data/2016/Divvy_Trips_2016_Q1Q2/Divvy_Trips_2016_04.csv'

In [17]:
df_04_2016 = pd.read_csv(path_test_file_conc_3)
df_04_2016.head(5)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9379901,4/30/2016 23:59,5/1/2016 0:11,21,733,123,California Ave & Milwaukee Ave,374,Western Ave & Walton St,Subscriber,Male,1982.0
1,9379900,4/30/2016 23:58,5/1/2016 0:07,3583,556,349,Halsted St & Wrightwood Ave,165,Clark St & Grace St,Subscriber,Male,1991.0
2,9379899,4/30/2016 23:58,5/1/2016 0:02,4557,253,59,Wabash Ave & Roosevelt Rd,273,Michigan Ave & 18th St,Subscriber,Male,1984.0
3,9379898,4/30/2016 23:54,5/1/2016 0:08,2443,802,289,Wells St & Concord Ln,199,Wabash Ave & Grand Ave,Subscriber,Male,1978.0
4,9379897,4/30/2016 23:52,5/1/2016 0:11,50,1146,239,Western Ave & Leland Ave,227,Southport Ave & Waveland Ave,Customer,NaN,NaN

In [18]:
Q2_df = pd.concat([df_04_2016,df_05_2016, df_06_2016], ignore_index=True)

In [19]:
filepath = "raw_data/2016/Divvy_Trips_2016_Q1Q2/Divvy_Trips_2016_Q2.csv"

In [20]:
Q2_df.to_csv(filepath, index=False)

In [21]:
dico_df = {}

for i in range(2016,2018):
    
    file_path_1 = f"raw_data/{i}/Divvy_Trips_{i}_Q1Q2"
    file_path_2 = f"raw_data/{i}/Divvy_Trips_{i}_Q3Q4"
    
    filename_A = file_path_1 + "/" + f"Divvy_Trips_{i}_Q1" + ".csv"
    filename_B = file_path_1 + "/" + f"Divvy_Trips_{i}_Q2" + ".csv"

    A =  pd.read_csv(filename_A)
    B =  pd.read_csv(filename_B)
    
    filename_C = file_path_2 + "/" + f"Divvy_Trips_{i}_Q3" + ".csv"
    filename_D = file_path_2 + "/" + f"Divvy_Trips_{i}_Q4" + ".csv"
    
    C = pd.read_csv(filename_C)
    D = pd.read_csv(filename_D)
    
    E = pd.concat([A, B, C, D], ignore_index=True)
    
    dico_df[i] = E

In [22]:
file_A  = f"raw_data/2018/Divvy_Trips_2018_Q1/Divvy_Trips_2018_Q1.csv"
file_B  = f"raw_data/2018/Divvy_Trips_2018_Q2/Divvy_Trips_2018_Q2.csv"
file_C  = f"raw_data/2018/Divvy_Trips_2018_Q3/Divvy_Trips_2018_Q3.csv"
file_D  = f"raw_data/2018/Divvy_Trips_2018_Q4/Divvy_Trips_2018_Q4.csv"


df_A = pd.read_csv(file_A)
df_B = pd.read_csv(file_B)
df_C = pd.read_csv(file_C)
df_D = pd.read_csv(file_D)

df_E = pd.concat([df_A, df_B, df_C, df_D], ignore_index=True)
dico_df[2018] = df_E

In [37]:
df_A.isnull().sum().sort_values(ascending=False)

Member Gender                                       22493
05 - Member Details Member Birthday Year            22322
01 - Rental Details Rental ID                           0
01 - Rental Details Local Start Time                    0
01 - Rental Details Local End Time                      0
01 - Rental Details Bike ID                             0
01 - Rental Details Duration In Seconds Uncapped        0
03 - Rental Start Station ID                            0
03 - Rental Start Station Name                          0
02 - Rental End Station ID                              0
02 - Rental End Station Name                            0
User Type                                               0
dtype: int64

In [38]:
df_B.isnull().sum().sort_values(ascending=False)

gender               196634
birthyear            195141
trip_id                   0
start_time                0
end_time                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
dtype: int64

In [39]:
df_C.isnull().sum().sort_values(ascending=False)

gender               294996
birthyear            291580
trip_id                   0
start_time                0
end_time                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
dtype: int64

In [23]:
full_2016_df = dico_df[2016]
full_2017_df = dico_df[2017]
full_2018_df = dico_df[2018]

In [24]:
A=list(full_2016_df.columns)
B=list(full_2016_df.dtypes)
vardf_sum_2016 = pd.DataFrame(list(zip(A, B)), columns=["2016_name","2016_type"])

In [25]:
A=list(full_2017_df.columns)
B=list(full_2017_df.dtypes)
vardf_sum_2017 = pd.DataFrame(list(zip(A, B)), columns=["2017_name","2017_type"])

In [26]:
A=list(full_2018_df.columns)
B=list(full_2018_df.dtypes)
vardf_sum_2018 = pd.DataFrame(list(zip(A, B)), columns=["2018_name","2018_type"])

In [29]:
df_test = vardf_sum_2016.merge(vardf_sum_2017, how="outer", left_on="2016_name", right_on="2017_name")

In [30]:
df_test = df_test.merge(vardf_sum_2018, how="outer", left_on="2017_name", right_on="2018_name")

In [31]:
df_test

,2016_name,2016_type,2017_name,2017_type,2018_name,2018_type
0,trip_id,int64,trip_id,int64,trip_id,float64
1,starttime,object,NaN,NaN,NaN,NaN
2,stoptime,object,NaN,NaN,NaN,NaN
3,bikeid,int64,bikeid,int64,bikeid,float64
4,tripduration,int64,tripduration,int64,tripduration,object
5,from_station_id,int64,from_station_id,int64,from_station_id,float64
6,from_station_name,object,from_station_name,object,from_station_name,object
7,to_station_id,int64,to_station_id,int64,to_station_id,float64
8,to_station_name,object,to_station_name,object,to_station_name,object
9,usertype,object,usertype,object,usertype,object
10,gender,object,gender,object,gender,object
11,birthyear,float64,birthyear,float64,birthyear,float64
12,NaN,NaN,start_time,object,start_time,object
13,NaN,NaN,end_time,object,end_time,object
14,NaN,NaN,NaN,NaN,01 - Rental Details Rental ID,float64
15,NaN,NaN,NaN,NaN,01 - Rental Details Local Start Time,object
16,NaN,NaN,NaN,NaN,01 - Rental Details Local End Time,object
17,NaN,NaN,NaN,NaN,01 - Rental Details Bike ID,float64
18,NaN,NaN,NaN,NaN,01 - Rental Details Duration In Seconds Uncapped,object
19,NaN,NaN,NaN,NaN,03 - Rental Start Station ID,float64
20,NaN,NaN,NaN,NaN,03 - Rental Start Station Name,object
21,NaN,NaN,NaN,NaN,02 - Rental End Station ID,float64
22,NaN,NaN,NaN,NaN,02 - Rental End Station Name,object
23,NaN,NaN,NaN,NaN,User Type,object
24,NaN,NaN,NaN,NaN,Member Gender,object
25,NaN,NaN,NaN,NaN,05 - Member Details Member Birthday Year,float64

In [44]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 6.0 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [45]:
df_test.to_excel("raw_data/Map-of-variables.xlsx", index=False)

In [32]:
full_2018_df.head(5)

,01 - Rental Details Rental ID,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,...,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702.0,2018-01-01 00:12:00,2018-01-01 00:17:23,3304.0,323.0,69.0,Damen Ave & Pierce Ave,159.0,Claremont Ave & Hirsch St,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17536703.0,2018-01-01 00:41:35,2018-01-01 00:47:52,5367.0,377.0,253.0,Winthrop Ave & Lawrence Ave,325.0,Clark St & Winnemac Ave (Temp),Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17536704.0,2018-01-01 00:44:46,2018-01-01 01:33:10,4599.0,"2,904.0",98.0,LaSalle St & Washington St,509.0,Troy St & North Ave,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17536705.0,2018-01-01 00:53:10,2018-01-01 01:05:37,2302.0,747.0,125.0,Rush St & Hubbard St,364.0,Larrabee St & Oak St,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17536706.0,2018-01-01 00:53:37,2018-01-01 00:56:40,3696.0,183.0,129.0,Blue Island Ave & 18th St,205.0,Paulina St & 18th St,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
full_2018_df.isnull().sum().sort_values(ascending=False)

Member Gender                                       3238430
05 - Member Details Member Birthday Year            3238259
01 - Rental Details Rental ID                       3215937
01 - Rental Details Local End Time                  3215937
01 - Rental Details Bike ID                         3215937
01 - Rental Details Duration In Seconds Uncapped    3215937
03 - Rental Start Station ID                        3215937
03 - Rental Start Station Name                      3215937
02 - Rental End Station ID                          3215937
02 - Rental End Station Name                        3215937
User Type                                           3215937
01 - Rental Details Local Start Time                3215937
gender                                               927157
birthyear                                            920032
end_time                                             387145
bikeid                                               387145
tripduration                                         387145
from_station_id                                      387145
from_station_name                                    387145
to_station_id                                        387145
to_station_name                                      387145
usertype                                             387145
start_time                                           387145
trip_id                                              387145
dtype: int64

In [35]:
full_2017_df.isnull().sum().sort_values(ascending=False)

gender               836827
birthyear            836758
trip_id                   0
start_time                0
end_time                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
dtype: int64

In [36]:
full_2016_df.isnull().sum().sort_values(ascending=False)

gender               858429
birthyear            858125
trip_id                   0
starttime                 0
stoptime                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
dtype: int64

In [5]:
import google.cloud
from google.cloud import storage

In [6]:
bucket_name =  "bucket-365814"

In [7]:
storage_client = google.cloud.storage.Client()
bucket = storage_client.bucket(bucket_name)

In [8]:
blob_name = "Divvy_Trips_2013_Q2.csv"

In [9]:
blob = bucket.blob(blob_name)

In [10]:
with blob.open("r") as f:
        print(f.read())

Forbidden: 403 GET https://storage.googleapis.com/download/storage/v1/b/bucket-365814/o/Divvy_Trips_2013_Q2.csv?alt=media: wagon-bootcamp@studious-camp-365515.iam.gserviceaccount.com does not have storage.objects.get access to the Google Cloud Storage object. Permission &#39;storage.objects.get&#39; denied on resource (or it may not exist).: ('Request failed with status code', 403, 'Expected one of', <HTTPStatus.OK: 200>, <HTTPStatus.PARTIAL_CONTENT: 206>)