In [1]:

%load_ext autoreload
%autoreload 2
from ml_logic.ui_utils import get_coordinates
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    np.random.randn(1000, 2) / [50, 50] + [41.87, 87.62],
    columns=['lat', 'lon'])

In [3]:
df.head()

         lat        lon
0  41.877177  87.601698
1  41.815370  87.652837
2  41.830470  87.664750
3  41.887542  87.642041
4  41.869087  87.634052

In [11]:
stations_raw=pd.read_csv('raw_data/data/Divvy Stations.csv',sep=';')
stations_raw.head()

,id,name,latitude,longitude,dpcapacity,online date,Year,Quarter
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43,6/16/13,2014,Q1Q2
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27,6/16/13,2014,Q1Q2
2,33,State St & Van Buren St,"41,877181","-87,627844",27,6/25/13,2014,Q1Q2
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15,8/10/13,2014,Q1Q2
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31,6/17/13,2014,Q1Q2

In [12]:
stations_raw.shape

(1377, 8)

In [13]:
stations=stations_raw.drop(columns=['online date','Year','Quarter'])
stations.drop_duplicates(inplace=True)
stations.head()

,id,name,latitude,longitude,dpcapacity
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27
2,33,State St & Van Buren St,"41,877181","-87,627844",27
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31

In [14]:
stations.shape

(869, 5)

In [15]:
stations.to_csv('raw_data/data/stations.csv',index=False)

In [17]:
stations_raw=pd.read_csv('raw_data/data/stations.csv')
stations_raw.head()

,id,name,latitude,longitude,dpcapacity
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27
2,33,State St & Van Buren St,"41,877181","-87,627844",27
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31

In [18]:
stations_raw
stations_raw.drop(columns=['id','name','dpcapacity'])

          latitude       longitude
0    41,8838927658  -87,6246491409
1    41,8847302006  -87,6277335692
2        41,877181      -87,627844
3        41,891738      -87,626937
4     41,884576228    -87,63188991
..             ...             ...
864    41.91751339    -87.70180896
865    41.90965688    -87.71663195
866     41.9097693    -87.70528049
867    41.90270659    -87.70921957
868    41.91402671    -87.70512646

[869 rows x 2 columns]

In [19]:
stations_raw.rename(columns={'latitude':'lat','longitude':'lon'},inplace=True)
stations_raw

,id,name,lat,lon,dpcapacity
0,43,Michigan Ave & Washington St,"41,8838927658","-87,6246491409",43
1,44,State St & Randolph St,"41,8847302006","-87,6277335692",27
2,33,State St & Van Buren St,"41,877181","-87,627844",27
3,199,Wabash Ave & Grand Ave,"41,891738","-87,626937",15
4,51,Clark St & Randolph St,"41,884576228","-87,63188991",31
...,...,...,...,...,...
864,507,Humboldt Blvd & Armitage Ave,41.91751339,-87.70180896,19
865,508,Central Park Ave & North Ave,41.90965688,-87.71663195,15
866,509,Troy St & North Ave,41.9097693,-87.70528049,15
867,510,Spaulding Ave & Division St,41.90270659,-87.70921957,15
868,511,Albany Ave & Bloomingdale Ave,41.91402671,-87.70512646,15

In [20]:
stations_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          869 non-null    int64
 1   name        869 non-null    object
 2   lat         869 non-null    object
 3   lon         869 non-null    object
 4   dpcapacity  869 non-null    int64
dtypes: int64(2), object(3)
memory usage: 34.1+ KB

In [21]:
stations_raw.lat=stations_raw.lat.apply(lambda x: float(x.split()[0].replace(',','.')))
stations_raw.lon=stations_raw.lon.apply(lambda x: float(x.split()[0].replace(',','.')))
stations_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869 entries, 0 to 868
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          869 non-null    int64
 1   name        869 non-null    object
 2   lat         869 non-null    float64
 3   lon         869 non-null    float64
 4   dpcapacity  869 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.1+ KB

In [22]:
import requests

In [23]:
GOOGLE_API_KEY='AIzaSyCDyICsWElnsEJh63kTi7OTfHjOlG899z0'

In [24]:
address='3424 S giles'

In [25]:
geocode_url='https://maps.googleapis.com/maps/api/geocode/json'
params=dict(
        address=[address],
        key=[GOOGLE_API_KEY]
        )
geo_response=requests.get(url=geocode_url,params=params)
geodata = geo_response.json()

In [26]:
geodata

{'results': [{'address_components': [{'long_name': '3424',
     'short_name': '3424',
     'types': ['street_number']},
    {'long_name': 'South Giles Avenue',
     'short_name': 'S Giles Ave',
     'types': ['route']},
    {'long_name': 'Douglas',
     'short_name': 'Douglas',
     'types': ['neighborhood', 'political']},
    {'long_name': 'Chicago',
     'short_name': 'Chicago',
     'types': ['locality', 'political']},
    {'long_name': 'Cook County',
     'short_name': 'Cook County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Illinois',
     'short_name': 'IL',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '60616', 'short_name': '60616', 'types': ['postal_code']},
    {'long_name': '3912',
     'short_name': '3912',
     'types': ['postal_code_suffix']}],
   'formatted_address': '3424 S Giles Ave, Chicago, IL 60616, USA',
   'geometry': {'bounds': {'northeast': {'lat': 41.83219, 'lng': -87.619491},
     'southwest': {'lat': 41.8321321, 'lng': -87.61971869999999}},
    'location': {'lat': 41.8321485, 'lng': -87.61960959999999},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 41.8335100302915,
      'lng': -87.6181852697085},
     'southwest': {'lat': 41.8308120697085, 'lng': -87.62088323029151}}},
   'place_id': 'ChIJ-Z5IaQosDogRkyDOL-WFgTA',
   'types': ['premise']}],
 'status': 'OK'}

In [27]:
try:
    latlong = [geodata['results'][0]['geometry']['location']['lat'],
           geodata['results'][0]['geometry']['location']['lng']]
except IndexError:
    latlong = None

In [28]:
latlong

[41.8321485, -87.61960959999999]

In [29]:
latitude=latlong[0]

In [30]:
type(latitude)

float

In [31]:
latlon3=get_coordinates(address)

In [32]:
latlon3

[41.8321485, -87.61960959999999]